<% content_for :title, "Liste des 100 notions" %>

<div class="notions">
  <div class="row">
    <h1 class="col-xs-10"><%= t('notions') %></h1>
    <a href="#" class="col-xs-1"id="toggler"><%= image_tag("arrow.png", :alt => "fleche") %></a>
  </div>
  <div class="row center-block">
    <% @notions.each do |notion| %>
      <% if notion.id == 9 %>
        <div id="toggle">
      <% end %>
      <div class="col-sm-3 col-xs-12 center-block"><%= link_to notion.title, notion_path(id: notion.id), :class => "col-xs-6 col-sm-12 center-block" %></div>
      <% if notion.id == @notions.last.id %>
        </div>
      <% end %>
    <% end %>
  <% # link_to 'New Notion', new_notion_path %>
  </div>
  <p id="notice"><%= notice %></p>
</div>
<div class="actu" >
  <div class="actualite">
      <H2><%= t('actus') %></h2>
        <div class="conte">
          <%= image_tag("avion.png", :alt => "avion", :width => '100%') %>
          <h3>Article 1 : Le Lorem Ipsum de votre vie</h3>
          <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit,
             sed do eiusmod tempor incididunt ut labore et dolore magna
            aliqua. Ut enim ad minim veniam, quis nostrud exercitation
            ullamco laboris nisi ut aliquip ex ea commodo consequat.
            Duis aute irure dolor in reprehenderit in voluptate velit
            esse cillum dolore eu fugiat nulla pariatur. Excepteur sint
            occaecat cupidatat non proident, sunt in culpa qui officia
            deserunt mollit anim id est laborum. </p>
          <a href="#">Lire la suite</a>
          <br>
          <%= image_tag("cartemere.png", :alt => "carte mère", :width => '100%') %>
          <h3>Article 2 : Le Lorem Ipsum de votre vie</h3>
          <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit,
             sed do eiusmod tempor incididunt ut labore et dolore magna
            aliqua. Ut enim ad minim veniam, quis nostrud exercitation
            ullamco laboris nisi ut aliquip ex ea commodo consequat.
            Duis aute irure dolor in reprehenderit in voluptate velit
            esse cillum dolore eu fugiat nulla pariatur. Excepteur sint
            occaecat cupidatat non proident, sunt in culpa qui officia
            deserunt mollit anim id est laborum. </p>
          <a href="#">Lire la suite</a>
          <br>
          <%= image_tag("ordi.png", :alt => "ordinateur",  :width => '100%') %>
          <h3>Article 3 : Le Lorem Ipsum de votre vie</h3>
          <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit,
              sed do eiusmod tempor incididunt ut labore et dolore magna
              aliqua. Ut enim ad minim veniam, quis nostrud exercitation
              ullamco laboris nisi ut aliquip ex ea commodo consequat.
              Duis aute irure dolor in reprehenderit in voluptate velit
              esse cillum dolore eu fugiat nulla pariatur. Excepteur sint
              occaecat cupidatat non proident, sunt in culpa qui officia
              deserunt mollit anim id est laborum. </p>
            <a href="#">Lire la suite</a>
        </div>
  </div>
</div>
