<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @notion.title %>
</p>
<p>
  <strong>Introduction : </strong>
  <%= @notion.introduction %>
</p>
<% @notion.articles.each do |article| %>
 Article : <%= article.title %>
<% end %>
<%= link_to 'Edit', edit_notion_path(@notion) %> |
<%= link_to 'Back', notions_path %>
