<% content_for :title, @notion.title.capitalize %>
<p id="notice"><%= notice %></p>

<h1><%= @notion.title.capitalize %></h1>
<p>
  <%= @notion.introduction %>
</p>
<h2>Articles</h2>
<div id="filters">
  <p>Filtrer :</p>

  <div class="filters">
    <% @notions.each do |notion| %>
      <% if @notionIds.include?(notion.id) == false %>
        <% if notion.id != @id %>
          <a class="button" data-filter="<%= notion %>" href="?notions=<%= @array.join(",") %>&amp;entrance=<%= notion %>"><%= notion %></a>
        <% end %>
      <% else %>
        <% if notion.id != @id %>
          <a class="button" data-filter="<%= notion %>" href="?notions=<%= @array.join(",") %>&amp;out=<%= notion %>"><%= notion %></a>
        <% end %>
      <% end %>
    <% end %>
  </div>
</div>
<div class="grid">
  <% @articlesFinals.each do |article| %>
    <article class="filter-element <% article.notions.each do |notion| %><%= notion %> <% end %>">
      <h3><%= link_to article.title, article_path(article) %></h3>
      <%= article.content %>
    </article>
  <% end %>
</div>
<%= link_to 'Edit', edit_notion_path(@notion) %> |
<%= link_to 'Back', notions_path %>
