<%= form_for(@article, url: articles_path(@article)) do |f| %>
  <% if @article.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@article.errors.count, "error") %> prohibited this article from being saved:</h2>

      <ul>
      <% @article.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :language %><br>
    <%= f.select :language_id, options_for_select(@languages.collect{ |l| [l.int_title, l.id] }) %>
  </div>
  <div class="field">
    <% @notions.each do |notion| %>
      <%= check_box_tag "notions[]", notion.id %><%= notion %>
    <% end %>
  </div>
  <%= f.cktext_area :content, ckeditor: { language: 'fr'} %>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
