<!DOCTYPE html>
<html>
<head>
  <title><%= yield(:title) %> - Diquantum</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => false %>
  <%= javascript_include_tag Ckeditor.cdn_url %>
  <script src="https://use.typekit.net/awl6wna.js"></script>
<script>try{Typekit.load({ async: true });}catch(e){}</script>
  <%= csrf_meta_tags %>
  <script src='https://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js'></script>
</head>
<body>
  <div id="particles-js"></div>
  <div id="content">
    <nav class="navbar navbar-default nav-perso navbar-fixed-top">
      <div class="container-fluid container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <%= link_to image_tag("logotransparent.png", :alt => "logo"), root_path, :class => "navbar-brand" %>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse collapse-perso" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li><a href="#"><%= t('about') %></a></li>
            <li><a href="#"><%= t('notions') %></a></li>
          </ul>
          <form class="navbar-form navbar-left" style="display: none;">
            <div class="form-group">
              <input type="text" class="form-control" placeholder="Recherche">
            </div>
            <button type="submit" class="btn btn-default">Submit</button>
          </form>
          <ul class="nav navbar-nav navbar-right ">
            <li><a href="/fr">FR</a></li>
            <li><a href="/en">EN</a></li>
            <li><a href="/es">ES</a></li>
            <li><a href="/it">IT</a></li>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>
    <section class="container">
      <div class="col-sm-8 col-sm-offset-1 col-xs-12" id="principal">
            <%= yield %>
      </div>
      <div class="col-sm-2 col-xs-12 profile center-block">
        <div class="cont">
          <% if account_signed_in? %>
          <%= image_tag(avatar_url(current_account), :alt => "Dagan", :class => "img-responsive") %>
            <ul>

              <li><%= link_to t('profile'), account_path(current_account.id) %></li>
              <li><%= link_to t('logout'), destroy_account_session_path, method: :delete %></li>
            <ul>
          <% else %>
          <%= image_tag("pp.png", :alt => "Profile Picture") %>
            <ul>
              <li><%= t('signup', :href => new_account_registration_path) %></li>
              <li><%= link_to t('signup'), new_account_registration_path %></li>
              <li><%= link_to t('login'), new_account_session_path %></li>
            <ul>
          <% end %>
          </div>
        </div>
        <div style="clear: both"></div>
      </section>
      <footer>
        <div class="coucou"></div>
      </footer>
    </div>
    <script type="text/javascript">
      /* particlesJS.load(@dom-id, @path-json, @callback (optional)); */
      particlesJS.load('particles-js', '<%= asset_path('particles.json') %>', function() {
      console.log('callback - particles.js config loaded');
      });
    </script>
</body>
</html>
