<p id="notice"><%= notice %></p>
<h1><%= t('profile')%></h1>
<p>
  <div class="center-block" style="text-align: center;">
    <%= image_tag avatar_url(@account), :class => "img-responsive", :alt => "" %>
    <%= @account.email if @account %>
  </div>
  <strong><%= t('fav') %></strong>
  <% @account.articles.each do |article| %>
  <%= link_to article.title, article %>
  <% end %>
</p>
